body
{
}
.col-md-3 img, .col-md-4 img
{
    width: 100%;
}

#spacer
{
    margin-top: 70px;
}

#spacer-small
{
    margin-top: 10px;
}

.social-button
{
    width: 32px;
    height: 32px;
    display: inline-block;
}
.sb_google
{
    background-image: url('../images/icons/google.png');
}
.sb_facebook
{
    background-image: url('../images/icons/facebook.png');
}
.sb_youtube
{
    background-image: url('../images/icons/youtube.png');
}
