/* Sticky footer styles
-------------------------------------------------- */
html
{
    position: relative;
    min-height: 100%;
}

body
{
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #eee;
}
